.footer {
  padding: 3rem 3rem 0.25rem 3rem;
  background-color: $color-gray-dark;
  position: relative;
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    .socials {
      margin-right: 6rem;
      p {
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.9;
        margin-top: 1.5rem;
      }
    }
    .links {
      padding: 0;
      h4 {
        padding: 0;
        margin: 0;
      }
    }
  }
  .arrow {
    position: absolute;
    top: -40px;
    left: calc(50% - 28px);
    transition: all 0.2s ease-out;
  }
  .arrow:hover {
    transform: translateY(-0.5rem);
  }
}

@media (max-width: 40rem) {
  .footer {
    .content {
      flex-direction: column;
      align-items: center;
      .socials {
        margin-right: 0;
        order: 2;
      }
      .links {
        order: 1;
        margin-bottom: 2rem;
        h4 {
          text-align: center;
        }
      }
    }
  }
}
