.navigation {
  display: flex;
  gap: 0 2rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  li {
    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.15s ease-out;
      font-weight: 500;
    }
    a:hover {
      color: $color-primary-lightest;
    }
  }
}

.footernav {
  flex-direction: column;
  align-items: flex-start;
  li {
    margin: 0;
    a {
      display: inline-block;
      font-size: 0.9rem;
      text-transform: lowercase;
    }
    a:first-letter {
      text-transform: capitalize;
    }
  }
  .cv a {
    text-transform: capitalize;
    color: $color-primary-light;
  }
}

@media (max-width: 40rem) {
  .footernav {
    align-items: center;
  }
}
