.navigation {
  display: flex;
  gap: 0 2rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  li {
    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s ease-out;
      font-weight: 500;
      position: relative;
    }
    &:hover {
      color: $color-primary-lightest;

      ::before {
        width: 100%;
      }
    }

    ::before {
      content: "";
      height: 3px;
      width: 0px;
      color: $color-primary-light;
      background-color: $color-primary-light;
      transition: all 0.3s;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }

  .cv a:hover {
    color: $color-text;

    &::before {
      display: none;
    }
  }
}

.footernav {
  flex-direction: column;
  align-items: flex-start;
  li {
    margin: 0;
    a {
      display: inline-block;
      font-size: 0.9rem;
      text-transform: lowercase;

      &:first-letter {
        text-transform: capitalize;
      }

      &::before {
        display: none;
      }
    }
  }
  .cv a {
    text-transform: capitalize;
    color: $color-primary-light;
  }
}

@media (max-width: 40em) {
  .footernav {
    align-items: center;
  }
}
