.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: $color-gray-lightest;
  text-align: center;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  background: $color-primary;
  min-width: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  width: auto;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 4px $color-primary-light;
  }
}

.btn:hover {
  background-color: $color-primary-light;
}

.outline {
  border: 3px solid $color-primary;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: $color-primary-light;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    box-shadow: 0 8px 8px -6px $color-primary-light;
    letter-spacing: 3px;
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px $color-primary-light;
  }
}

.outline-transparent {
  border: 1px solid $color-gray-lightest;
  background-color: transparent;
  color: $color-gray-lightest;
}
.outline-transparent:hover {
  background-color: $color-gray-dark;
}

.light {
  background-color: $color-gray-lightest;
  font-weight: 600;
  color: $color-gray-dark;
}
.light:hover {
  background-color: $color-gray-light;
}

.cta {
  background-color: $color-danger;
  color: $color-text;
  font-weight: 500;
  letter-spacing: 1px;
}

.cta:hover {
  background-color: #dc2626;
}

@media (hover: none) {
  .btn:hover {
    background-color: $color-primary;
  }
  .btn:focus {
    box-shadow: none;
  }
  .outline:hover,
  .outline:active {
    box-shadow: none;
    background-color: transparent;
    letter-spacing: 2px;
    transform: none;
  }
  .cta:hover {
    background-color: $color-danger;
  }
  .light:hover {
    background-color: $color-gray-lightest;
  }
  .outline-transparent:hover {
    background-color: $color-gray-lightest;
  }
}
