.btn {
  border: none;
  font: inherit;
  color: $color-gray-lightest;
  text-align: center;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  background: $color-primary;
  min-width: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  width: auto;
  outline: none;
}

.btn:hover {
  background-color: $color-primary-light;
}

.outline {
  border: 3px solid $color-primary;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: $color-primary-light;
  background-color: transparent;
}

.outline:hover {
  background-color: transparent;
  box-shadow: 0 0.5em 0.5em -0.4em $color-primary-light;
  letter-spacing: 3px;
  transform: translateY(-0.25em);
}

.outline-transparent {
  border: 1px solid $color-gray-lightest;
  background-color: transparent;
  color: $color-gray-lightest;
}
.outline-transparent:hover {
  background-color: $color-gray-dark;
}

.light {
  background-color: $color-gray-lightest;
  font-weight: 600;
  color: $color-gray-dark;
}
.light:hover {
  background-color: $color-gray-light;
}

.cta {
  background-color: $danger;
  color: $color-text;
  font-weight: 500;
  box-shadow: 0 0 4px $color-gray-light;
  letter-spacing: 1px;
}

.cta:hover {
  background-color: #dc2626;
}
