.badge {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: -12rem;
  width: 28rem;
  transform: rotate(35deg);

  a {
    font: inherit;
    font-family: "Arial";
    display: flex;
    line-height: 1;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    background: linear-gradient(
      to right,
      $color-gray-light,
      $color-gray-lightest
    );
    color: $color-gray-medium;
    font-size: 0.8rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    transition: all 0.2s;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover,
    &:active {
      gap: 1.25rem;
      background-color: darken($color-gray-light, 5%);
    }
    &:focus {
      outline: none;
    }
  }
}

.arrow {
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 56.25em) {
  .badge {
    position: static;
    transform: none;
    margin-bottom: 1rem;
    width: 10rem;
  }
}

@media (hover: none) {
  .badge {
    a:hover,
    a:active {
      gap: 0.6rem;
      background: linear-gradient(
        to right,
        $color-gray-light,
        $color-gray-lightest
      );
    }
  }
}
