.intro {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 0.5rem;

    span {
      color: $color-primary-light;
      text-shadow: none;
    }
  }
  .actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .cta {
    margin-top: 8rem;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;

      span {
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 64em) {
  .intro {
    height: auto;
    padding-top: 8rem;
    .cta {
      margin-top: 4rem;
    }
  }
}

@media (max-width: 40em) {
  .intro {
    width: 90%;
    padding-top: 4rem;
    h1 {
      font-size: 2rem;
    }
    .actions {
      flex-wrap: wrap;
      align-items: space-between;
      height: 150px;
    }
    .cta {
      display: none;
    }
  }
}
