.socials {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  li {
    a {
      text-decoration: none;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.3s ease-out;
      img {
        width: 100%;
        height: 100%;
      }
    }
    a:hover {
      transform: scale(1.1);
    }
  }
}

@media (hover: none) {
  .socials {
    li a:hover {
      transform: none;
    }
  }
}
