.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;

    .form-control {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input,
      textarea {
        padding: 0.5rem;
        font: inherit;
        border: none;
      }
      input:focus,
      textarea:focus {
        outline: none;
        background-color: $color-gray-light;
      }
      textarea {
        resize: none;
      }
    }
    button {
      font-size: 1.2rem;
    }
  }
  .error {
    color: $color-error;
  }

  .success {
    color: $color-success;
  }

  h2 {
    margin-top: 0;
  }

  .prompt {
    width: 25rem;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;

    span {
      font-weight: 900;
    }
  }
}

@media (max-width: 40rem) {
  .contact {
    form {
      width: 90%;
    }
    .prompt {
      width: 90%;
    }
  }
}
