.account-info {
  text-align: center;
  width: 550px;
  max-width: 90%;
  margin: 0rem auto 2rem auto;

  p {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
