.projects {
  list-style: none;
  h1 {
    margin-bottom: 2.5rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
}

// @media (max-width: 40em) {
//   .projects {
//     margin-top: 4rem;
//   }
// }
