@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 840px;
  height: 360px;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: $color-gray-medium;
  overflow: hidden;
  transition: all 0.25s ease-out;

  .left,
  .right {
    width: 48%;
    height: 100%;
  }

  .left {
    .img-container {
      img {
        border-radius: 10px;
      }
    }

    .techstack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem 0.6rem;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 1rem;

      li {
        padding: 0.25rem 0.4rem;
        border: 2px solid $color-gray-light;
        border-radius: 6px;
        cursor: default;
        font-size: 0.9rem;
        font-family: "Open Sans";
        font-weight: 500;
      }
    }
  }

  .right {
    h2 {
      margin-top: 0;
    }

    .actions {
      display: flex;
      margin-top: 2rem;
      gap: 0.5rem;

      a {
        box-shadow: none;
        width: 50%;
        min-width: 5rem;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: 500;
      }
      a:hover {
        transform: translateY(-0.25em);
      }

      a:first-of-type {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .card {
    width: 70%;
    height: auto;
    justify-content: center;
    .left,
    .right {
      width: 100%;
    }

    .right {
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 40rem) {
  .card {
    width: 90%;
    .right {
      .actions {
        a:first-of-type {
          img {
            display: none !important;
          }
          span {
            margin: 0;
          }
        }
      }
    }
  }
}
