* {
  box-sizing: border-box;
}
body {
  background-color: $color-gray;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $color-text;

  #__next {
    min-height: 100vh;
    min-width: 300px;
    max-width: 2000px;
    margin: 0 auto;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif;
      color: $color-gray-lightest;
      font-weight: 600;
    }
  }
}
