$color-primary: #a21caf;
$color-primary-light: #c026d3;
$color-primary-lightest: #e879f9;
$color-primary-dark: #86198f;
$color-primary-darkest: #701a75;
$color-headings: #edfdee;
$color-gray: #1c1d26;
$color-gray-dark: #171820;
$color-gray-light: #31323b;
$color-gray-lightest: #edfdee;
$danger: #c21423;