$color-primary: #a21caf;
$color-primary-light: #c026d3;
$color-primary-lightest: #e879f9;
$color-primary-dark: #86198f;
$color-primary-darkest: #701a75;
$color-gray: #1c1d26;
$color-gray-dark: #171820;
$color-gray-medium: #31323b;
$color-gray-light: #d1d5db;
$color-gray-lightest: #edfdee;
$color-text: hsla(0, 0%, 100%, 0.75);
$color-danger: #c21423;
$color-error: #ff2e40;
$color-success: rgb(34, 214, 34);
