.about {
  padding: 2rem 1rem;

  h1 {
    margin-bottom: 2.5rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    .content {
      flex-direction: column;
    }
  }
}
