.about {
  padding: 0 1rem;
  margin-top: 6rem;
  margin-bottom: 6rem;

  h1 {
    margin-bottom: 2.5rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    h2 {
      text-align: center;
      margin-bottom: 1.25rem;
    }
  }
}

@media (max-width: 64em) {
  .about {
    .content {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
