.info {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-weight: 500;
    color: $color-gray-lightest;
    font-size: 1.1rem;
    line-height: 1.8;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0.75rem;
    button:first-of-type {
      margin-right: 2rem;
    }
    button:nth-child(2) {
      box-shadow: none;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1024px) {
  .info {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 40rem) {
  .info {
    max-width: 90%;
    .actions {
      justify-content: center;
      button {
        width: 100%;
      }
      button:first-of-type {
        margin-right: 0;
        margin-top: 1rem;
        order: 2;
      }
    }
  }
}
