.info {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-weight: 500;
    color: $color-gray-lightest;
    font-size: 1.1rem;
    line-height: 1.8;
  }
  .actions {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1.5rem;

    a {
      flex-grow: 1;
      width: 50%;
      min-width: 6rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
    a:nth-child(2) {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 64em) {
  .info {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    .actions {
      padding-right: 0;
    }
  }
}

@media (max-width: 40em) {
  .info {
    max-width: 90%;
    .actions {
      justify-content: center;
      a,
      button {
        width: 100%;
      }
      button:first-of-type {
        order: 2;
      }
    }
  }
}
