.intro {
  width: 80%;
  height: calc(100vh - 6rem);
  // padding-bottom: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;

    span {
      color: $color-primary-light;
      text-shadow: none;
    }
  }
  .actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    button {
      margin-left: 1rem;
    }
  }
  .cta {
    margin-top: 8rem;
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;

      span {
        margin-left: 1rem;
      }
    }
  }
}
