.skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (max-width: 64em) {
  .skills {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 40em) {
  .skills {
    width: 95%;
  }
}
